<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.testpj.member.MemberMapper">

	<!-- //////////register.jsp/////////// -->
	<!-- 회원가입 -->
	<insert id="register" parameterType="com.js.testpj.member.Member">
		INSERT INTO test1.custom_user
		(custom_user_seq, custom_user_name, custom_user_nick, custom_user_email,
		custom_user_pswd, custom_user_birth, custom_user_phone,
		custom_user_address, custom_user_auth, custom_user_del_yn,
		custom_user_reg_date, custom_user_mod_date)
		VALUES(NEXTVAL(custom_user_seq), #{custom_user_name}, #{custom_user_nick}, #{custom_user_email},
		#{custom_user_pswd}, #{custom_user_birth}, #{custom_user_phone}, #{custom_user_address}, '2', 'n',
		now(), now())
	</insert>
	
	<!-- 닉네임 중복 검사 -->
	<select id="nickCheck" parameterType="String" resultType="int">
		 select count(*) from test1.custom_user where custom_user_nick = #{custom_user_name};
	</select>

	<!-- 이메일 중복 검사 -->
	<select id="mailCheck" parameterType="String" resultType="int">
		 select count(*) from test1.custom_user where custom_user_email = #{custom_user_email};
	</select>





	<!-- ////////// login.jsp /////////// -->
	<!-- 로그인 -->
	<select id="loginUser" resultType="com.js.testpj.member.Member">
			select * from test1.custom_user
			where custom_user_email = #{custom_user_email}
	</select>
	
	<select id="checkingDelete" resultType="String" parameterType="com.js.testpj.member.Member">
			select (custom_user_del_yn) from test1.custom_user where custom_user_email = #{custom_user_email}
	</select>





	<!-- ////////// prifile.jsp /////////// -->
	<!-- 프로필 표시 -->
	<select id="myProfile" resultType="com.js.testpj.member.Member">
			select * from test1.custom_user
			where custom_user_seq = #{custom_user_seq}
	</select>


	<!-- 프로필 수정 -->
	<update id="modifyProfile" parameterType="com.js.testpj.member.Member">
		update test1.custom_user
		set custom_user_name = #{custom_user_name}, custom_user_nick = #{custom_user_nick}, custom_user_phone = #{custom_user_phone}, custom_user_address = #{custom_user_address}, custom_user_mod_date = now()
		where custom_user_seq = #{custom_user_seq}
	</update>


	<!-- 회원 탈퇴 -->
	<update id="deleteMem" parameterType="com.js.testpj.member.Member">
		update test1.custom_user
		set custom_user_del_yn = 'y'
		where custom_user_seq = #{custom_user_seq}
	</update>
	
	
	<!-- 회원 정보 조회 -->
	<select id="selectAllMem" resultType="com.js.testpj.member.Member">
		select * FROM test1.custom_user
	</select>

</mapper>